@model List<UniPortoWebsite.Models.ActivityViewModel>
@using UniPortoWebsite.Helpers
<div class="modal fade" id="AllRecommendations" role="dialog">

</div>
@foreach (var item in Model)
{

        <li class="media media-clearfix-xs" id="@((item.CreatedOn).ToString("MMM"))">
            <div class="media-left">
                <div class="user-wrapper">
                    @if (UniPortoContext.LoggedInUser.ProfileImage != null)
                    {
                        <img src="@UniPortoContext.LoggedInUser.ProfileImage" class="img-circle" width="80" />
                    }
                    else
                    {
                        <img src="~/Content/user-default.png" class="img-circle" width="80" />
                    }
                    <div><a href="#">@UniPortoContext.LoggedInUser.FullName</a></div>
                    <div class="date">@Html.Label("dateTxt", (item.CreatedOn).ToString("MMM d"))</div>
                </div>
            </div>
            <div class="media-body">
                <div class="media-body-wrapper">
                    <div class="timeline-block">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="media">
                                    <div class="media-body">
                                        <a href="#" class="pull-right text-muted" onclick="editActivity()" title="Edit Activity">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                     @{
                                         if (((ProfileTypes)UniPortoContext.LoggedInUser.ProfileTypeID).Equals(ProfileTypes.Alumni) || ((ProfileTypes)UniPortoContext.LoggedInUser.ProfileTypeID).Equals(ProfileTypes.Student))
                                         {
                                                <a href="#" title="Ask For Reccomendation" onclick="loadAskReccomModal(@item.Id)" data-toggle="tk-modal-demo" data-modal-options="slide-down" class="pull-right text-muted" data-target="#RequestReccomendationModal"><i class="icon-reply-all-fill fa fa-2x ">&nbsp;&nbsp;</i></a>
                                         }

                                        }
                                        <b>
                                            <a href="">@item.CreatedBy</a>
                                            @if (item.DateOfActivity != null)
                                            {
                                                if (item.DateOfActivity != "")
                                                {
                                                    <span>Happened On : @item.DateOfActivity</span>
                                                }
                                            }
                                        </b>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                @item.Status
                            </div>
                            @if (item.AttachmentsTypeId == 2)
                            {
                            <img src="@item.AttachmentUrl" class="img-responsive">
                            }
                            @if (item.AttachmentsTypeId == 3)
                            {
                                <div class="embed-responsive embed-responsive-4by3">
                                    <video width="400" hight="400" controls><source src="@item.AttachmentUrl"></video>
                                </div>
                            }
                            <div class="view-all-comments">
                                <a onclick="LoadRecommendation('@item.Id')" >
                                    <i  class="fa fa-comments-o"></i> View all Reccomendations
                                </a>
                               
                                @*<span>comments</span>*@
                            </div>
                            <ul id="inputGroup_@item.Id" class="comments">
                                @*<li clas="media">
                                    <div class="media-left">
                                        <a href="">
                                            <img src="~/Content/ProfileTheme/images/people/50/woman-5.jpg" class="media-object">
                                        </a>
                                    </div>*@
                                    @*<div class="media-body">
                                        <a href="" class="comment-author">Mary</a>
                                        <span>Wow</span>
                                        <div class="comment-date">2 days</div>
                                    </div>*@
                                @*</li>*@
                                @{
                                    if (((ProfileTypes)UniPortoContext.LoggedInUser.ProfileTypeID).Equals(ProfileTypes.Alumni) || ((ProfileTypes)UniPortoContext.LoggedInUser.ProfileTypeID).Equals(ProfileTypes.Student))
                                    {
                                        <li  class="comment-form">
                                            <div  class="input-group">
                                                <input type="text" id="Rec_@item.Id" class="form-control" />
                                                <span class="input-group-btn">
                                                    <a id="@item.Id" onclick="AddRecommendation(this)" title="Add Reccomendation" class="btn btn-default"><i class="fa fa-fw fa-plus"></i></a>
                                                </span>
                                            </div>
                                        </li>
                                    }

                                }
                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>



                                    }

<script>
    function AddRecommendation(data)
    {
        debugger;
        var text = $("#Rec_" + data.id).val();
        var loggedInName = " @UniPortoContext.LoggedInUser.FullName";
        var profileImage = "@UniPortoContext.LoggedInUser.ProfileImage";
        var dateNow = "@DateTime.Now.ToShortDateString()";
        var timeNow = "@DateTime.Now.ToShortTimeString()";
        if (profileImage == "")
        {
            profileImage = "@Url.Content("~")"+"/Content/user-default.png";
        }
        if (text != "")
        {
            $.ajax({
                type: "Post",
                url: '@Url.Action("AddRecommendation", "PrivateProfile")',
                data: { activityId: data.id, Title: text },
                success: function (success) {
                    $("#inputGroup_" + data.id).append('<li clas="media"><div class="media-left"><img src="' + profileImage + '" style="width:50px;height:50px" class="media-object"></div><div class="media-body"><a href="" class="comment-author">' + loggedInName + '</a><span>' + text + '</span><div class="comment-date">' + dateNow + ' - ' + timeNow + '</div></div></li>');
                    $("#Rec_" + data.id).val("");

                },
                error: function (error) {
                    alert("Please try again ...");
                }
            });
        }
        else
        {
            alert("Can't post recommendation with empty space");
        }

    }
    function LoadRecommendation(id) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("LoadAllRecommendation", "PrivateProfile")',
            data: { activityId: id },
            success: function (success) {
                $("#AllRecommendations").html(success);
                $("#AllRecommendations").modal('toggle');
            },
            error: function (error) {
                alert("Error");

            }
        });
    }
</script>