@model UniPortoWebsite.Models.RegisterViewModel

@{
    ViewBag.Title = "Student Register";
    Layout = "~/Views/Shared/Login_RegisterLayout.cshtml";
}
<div class="modal fade" id="RegisterModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Html.Label("Register")</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 col-md-offset-2">


                        @using (Html.BeginForm())
            {

                            @Html.AntiForgeryToken()

                            <div class="row">
                                @Html.TextBoxFor(p => p.profile.FullName, new { @class = "form-control", @placeholder = "Full Name", @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.profile.FullName, "", new { @class = "text-danger" })
                            </div>
                            <div class="row">
                                @Html.TextBoxFor(p => p.Email, new { @class = "form-control", @placeholder = "Email", @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="row">
                                @Html.PasswordFor(p => p.Password, new { @class = "form-control", disabled = "disabled", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="row">
                                @Html.PasswordFor(p => p.ConfirmPassword, new { @class = "form-control", disabled = "disabled", @placeholder = "Password Confirmation" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="modal-footer">
                                <div class="row">
                                    <div id="passwordError" class="btn-danger"></div>

                                </div>
                                <button class="btn btn-success" id="create" style="float:right;" type="submit">Register</button>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lock-container">
    <h1>Student Registration</h1>
    <div class="panel panel-default text-center">

        <div class="panel-body">

            <div class="row form-group">
                <div class="form-horizontal">
                    <input id="txtUsername" class="form-control" placeholder="Enter Your University ID" style="width:280px;max-width:240px;display:inline-block" />
                    <button class="btn btn-default" type="button" onclick="CheckStudent()" style="margin-left:-2px;margin-top:-2px;min-height:36px;"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
            
            <div class="row btn-danger" id="customError">

            </div>


        </div>

    </div>
</div>

<script>
  
    function CheckStudent() {

        $.ajax({
            type: "GET",
            url: '@Url.Action("CheckStudentUsername", "Account")',
            data: { username: $("#txtUsername").val() },
            success: function (success) {


                $("#customError").html("");
                $("#txtUsername").removeClass("btn-danger");
                $("#txtUsername").addClass("btn-success");
                $("#profile_FullName").val(success.FullName);
                $("#Email").val(success.email);
                $("#Password").prop("disabled", false);
                $("#ConfirmPassword").prop("disabled", false);
                $("#RegisterModal").modal('show');
            },
            error: function (error) {
                $("#profile_FullName").val("");
                $("#Email").val("");
                $("#Password").prop("disabled", true);
                $("#ConfirmPassword").prop("disabled", true);
                $("#txtUsername").removeClass("btn-success");
                $("#txtUsername").addClass("btn-danger");
                $("#customError").html("");
                $("#customError").append("Can't Find Or Already Registered");
            }
        });

    }
</script>
